.spinner {
  animation:spin 4s linear infinite;
  width:30px;
  height:30px;
  border:4px dashed grey;
  border-radius:50%;
  margin:auto
}
@keyframes spin {
  0% {
    transform:rotate(0)
  }
  to {
    transform:rotate(360deg)
  }
}